<template>
    <lightning-button  variant="brand-outline" label="Pipeline Manager" title="Pipeline Manager" onclick={openModal} class="pipeline-manager slds-m-left_x-small"></lightning-button>

    <div class="canvas-container">
        <canvas id="myCanvas" width="800" height="600"></canvas>

        <div class="left-box" style="position:absolute; left:100px; top:100px; height:50px ">
            <div class="env-box"  draggable="true">
                <div class="slds-no-flex"></div>
                <div class="info">
                    <div class="data"><span class="org" title="Dev1">Dev1</span><br> 
                        <span> <div class="branch" title="dev1">Branch <span>dev1</span></div> </span>
                    </div>
                </div>
                </div>
            <div class="connection-info">
                <div class="commits show">
                    <div class="icon storyCountAhead disabled">
                        <div class="button-wrapper">
                            <button class="storyCountAheadBtn" type="button">0</button>
                        </div>
                        <div class="image-wrapper">
                            <img src="/resource/1710456037000/SetupDashboardIcons/PipelineSvgIcons/pipeline-right-arrow.png" title="Promote">
                        </div>
                    </div>
                    <div class="icon storyCountBehind disabled">
                        <div class="button-wrapper">
                            <button class="storyCountBehindBtn"  type="button">0</button>
                        </div>
                        <div class="image-wrapper">
                            <img src="/resource/1710456037000/SetupDashboardIcons/PipelineSvgIcons/pipeline-left-arrow.png" title="Back Promote">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="left-box" style="position:absolute; left:100px; top:200px; height:50px ">
            <div class="env-box" draggable="true">
                <div class="slds-no-flex"></div>
                <div class="info">
                    <div class="data"><span class="org" title="Dev1">Dev2</span><br> 
                            <span> <div class="branch" title="dev1">Branch <span>dev2</span></div> </span>
                    </div>
                </div>
            </div>
            <div class="connection-info">
                <div class="commits show">
                    <div class="icon storyCountAhead disabled">
                        <div class="button-wrapper">
                            <button class="storyCountAheadBtn" type="button">0</button>
                        </div>
                        <div class="image-wrapper">
                            <img src="/resource/1710456037000/SetupDashboardIcons/PipelineSvgIcons/pipeline-right-arrow.png" title="Promote">
                        </div>
                    </div>
                    <div class="icon storyCountBehind disabled">
                        <div class="button-wrapper">
                            <button class="storyCountBehindBtn"  type="button">0</button>
                        </div>
                        <div class="image-wrapper">
                            <img src="/resource/1710456037000/SetupDashboardIcons/PipelineSvgIcons/pipeline-left-arrow.png" title="Back Promote">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="right-box" style="position:absolute; left:300px; top:150px; height:50px ">
            <div class="env-box" draggable="true">
                <div class="slds-no-flex"></div>
                <div class="info">
                    <div class="data"><span class="org" title="Dev1">UAT</span><br> 
                        <span> <div class="branch" title="dev1">Branch <span>uat</span></div> </span>
                    </div>
                </div>
            </div>
            <div class="connection-info">
                <div class="commits show">
                    <div class="icon storyCountAhead disabled">
                        <div class="button-wrapper">
                            <button class="storyCountAheadBtn" type="button">0</button>
                        </div>
                        <div class="image-wrapper">
                            <img src="/resource/1710456037000/SetupDashboardIcons/PipelineSvgIcons/pipeline-right-arrow.png" title="Promote">
                        </div>
                    </div>
                    <div class="icon storyCountBehind disabled">
                        <div class="button-wrapper">
                            <button class="storyCountBehindBtn"  type="button">0</button>
                        </div>
                        <div class="image-wrapper">
                            <img src="/resource/1710456037000/SetupDashboardIcons/PipelineSvgIcons/pipeline-left-arrow.png" title="Back Promote">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="right-box" style="position:absolute; left:500px; top:150px; height:50px ">
            <div class="env-box" draggable="true">
                <div class="slds-no-flex"></div>
                <div class="info">
                    <div class="data"><span class="org" title="Dev1">PROD</span><br> 
                        <span> <div class="branch" title="dev1">Branch <span>master</span></div> </span>
                    </div>
                </div>
            </div>
            <div class="connection-info">
                <div class="commits show">
                    <div class="icon storyCountAhead disabled">
                        <div class="button-wrapper">
                            <button class="storyCountAheadBtn" type="button">0</button>
                        </div>
                        <div class="image-wrapper">
                            <img src="/resource/1710456037000/SetupDashboardIcons/PipelineSvgIcons/pipeline-right-arrow.png" title="Promote">
                        </div>
                    </div>
                    <div class="icon storyCountBehind disabled">
                        <div class="button-wrapper">
                            <button class="storyCountBehindBtn"  type="button">0</button>
                        </div>
                        <div class="image-wrapper">
                            <img src="/resource/1710456037000/SetupDashboardIcons/PipelineSvgIcons/pipeline-left-arrow.png" title="Back Promote">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
    </div>

    
    


    
</template>