.pipeline-manager {
    
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    margin-top: 15px;
}
.env-box {
    display: inline-block; /* Add this to make the div inline */
    vertical-align: top; /* Align the divs to the top */
    height: auto;
    text-align: left !important;
    background-color: white;
    /* margin-left: 5px; */
    border: 1px solid #dedbda;
    border-radius: 5px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* .env-box {
    height: auto;
    text-align: left !important;
    background-color: white;
    margin-left: 5px;
    border: 1px solid #dedbda;
    border-radius: 5px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
} */

.info {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
    cursor: move;
    width: 100px;

}

.data {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 5px;
    padding-left: 8px;
}

.org {
    text-transform: uppercase;
    font-size: 11px;
    color: #080707;
}

.branch {
    color: #828282;
    font-size: 12px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.branch span {
   margin-left: 1px;
   color: #080707;
}

.box-container {
    position: relative;
    margin-bottom: 15px;

}

.box-container.diagram {
    height: 80px;
    width: 193px;

}

.box-container.manager {
    height: 60px;
    width: 183px;
}


.connection-info {
    float: right;
    height: 100%;
    width: auto;
    min-width: 56px;
    margin-right: -60px;
    margin-top: 6px;

}

.connection-info .connection-behaviour-override {
    display: flex;
    justify-content: center;
    height: 21px;
    width: 50px;
    margin-top: 30px;
    position:relative;
    text-align: center;
    padding: 2px;
    border: 1px solid #ebebeb;
    border-radius: 11px;
    background-color: white;
}

.connection-info .connection-behaviour-override.hide {
    visibility: hidden;
    opacity: 0

}

.connection-info .connection-behaviour-override.show {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 1s ease-out 0.2s, opacity 0.125s linear 0.2s;
    -moz-transition: visibility 1s ease-out 0.2s, opacity 0.125s linear 0.2s;
    -o-transition: visibility 1s ease-out 0.2s, opacity 0.125s linear 0.2s;
    transition: visibility 1s ease-out 0.2s, opacity 0.125s linear 0.2s;
}

.connection-info .connection-behaviour-override .icon {
    padding: 0px 2px;
    cursor: pointer;
}

.connection-info .connection-behaviour-override .icon .image-wrapper,
.connection-info .connection-behaviour-override .icon .image-wrapper-2 {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    cursor: pointer;
}

.connection-info .connection-behaviour-override .icon .image-wrapper-2 img.connection{
    margin-top: 2px;
}



.connection-info .connection-behaviour-override  img.connection {
    width: 11px;
    height: auto;
}

.connection-info .connection-behaviour-override  img.new {
    width: 35px;
    height: auto;
    margin-top: -5px;
}


.connection-info .commits {
    display: flex;
    justify-content: center;
    height: 28px;
    /* margin-top: 19px;
    margin-left: 0px; */
    position: relative;
    text-align: center;
    padding: 0;
    border: 1px solid #ebebeb;
    border-radius: 14px;
    background-color: white;

}


.connection-info .commits .icon:first-of-type {
    margin-right: 5px;
}

.connection-info .commits .disabled {
    opacity: 0.5;
}

.connection-info .commits .button-wrapper {
    height: 16px;
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.connection-info .commits .image-wrapper {
    display: flex;
    justify-content: center;
}

.connection-info .commits .button-wrapper button {
    padding: 0 3px;
    border: none;
    border-bottom-color: white;
    background: white;
    font-size: 12px;
    color: #1589EE;
}

.connection-info .commits  img {
    width: 11px;
    height: auto;
}