<template>
    
    <lightning-card title="Commited sObject" icon-name="action:preview">
            <!-- <lightning-datatable
                key-field="fieldAPIName"
                data={selectedObjectFields}
                columns={columns}
                onrowselection={handleRowSelection}>
            </lightning-datatable> -->
            <lightning-tree-grid
                columns={columns}
                data={selectedObjectFields}
                key-field="Object_Name__c"
            ></lightning-tree-grid>
            </br>
            <div class="slds-clearfix">
                <lightning-button class="slds-float_right" variant="brand" label="Delete" onclick={handleShowFields}></lightning-button>
            </div>
           
    </lightning-card>    
    
    <lightning-card title="Destructive Changes Object" icon-name="action:preview">
        <!-- <lightning-datatable
            key-field="fieldAPIName"
            data={selectedObjectFields}
            columns={columns}
            onrowselection={handleRowSelection}>
        </lightning-datatable> -->
        <lightning-tree-grid
            columns={columns}
            data={selectedObjectFields2}
            key-field="Object_Name__c"
        ></lightning-tree-grid>
        </br>
        <div class="slds-clearfix">
            <lightning-button class="slds-float_right" variant="brand" label="Delete" onclick={handleShowFields}></lightning-button>
        </div>
       
    </lightning-card> 


    <lightning-card title="Commited Apex Classes" icon-name="action:preview">
        <lightning-datatable
            key-field="Class_Name__c"
            data={selectedApexClasses}
            columns={columns2}>
        </lightning-datatable>
        
        </br>
        <div class="slds-clearfix">
            <lightning-button class="slds-float_right" variant="brand" label="Delete" ></lightning-button>
        </div>
       
    </lightning-card> 

    <lightning-card title="Destructive Changes Apex Classes" icon-name="action:preview">
        <lightning-datatable
            key-field="Class_Name__c"
            data={selectedApexClasses2}
            columns={columns2}>
        </lightning-datatable>
        
        </br>
        <div class="slds-clearfix">
            <lightning-button class="slds-float_right" variant="brand" label="Delete" ></lightning-button>
        </div>
       
    </lightning-card> 
    
</template>