<div id="minimap" style="display: block;" class="ui-draggable">
    <div class="minimap-header ui-draggable-handle" id="minimapHeader" title="Move minimap">✥</div>
    <div class="minimap-viewport" style="width: 171px; height: 116px; left: 0px; top: 0px;"></div>
    <div class="minimap-node" style="width: 17px; height: 24px; left: 4px; top: 79px;"></div>
    <div class="minimap-node" style="width: 17px; height: 24px; left: 4px; top: 108px;"></div>
    <div class="minimap-node" style="width: 17px; height: 24px; left: 33px; top: 93px;"></div>
    <div class="minimap-node" style="width: 17px; height: 24px; left: 33px; top: 120px;"></div>
    <div class="minimap-node" style="width: 17px; height: 24px; left: 62px; top: 106px;"></div>
</div>