<template>
    <lightning-progress-indicator current-step={step} type="path" variant="base">
        <template for:each={steps} for:item="step">
            <lightning-progress-step label={step.label} value={step.value} key={step.label}></lightning-progress-step>
        </template>
    </lightning-progress-indicator>
</template>