<template>
    <div style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;border-radius: 10px; padding:15px; margin-bottom: 30px;margin-top: 20px;">
        <div class="histo_rdv">
            <div style="display: flex; padding-right : 50px;padding-left:50px">
                <template if:true={stages}>
                    <template for:each={stages} for:item="stageRecord">
                        <div key={stageRecord.Id} onclick={handleStageClick} data-stage-id={stageRecord.Id}>
                            <template if:true={stageRecord.succeeded}>
                                <img src="https://i.ibb.co/gSTtzGy/valid.png" height="150px" alt="" border="0">
                                <div class={textClass}>{stageRecord.Name}</div>
                            </template>
                            <template if:true={stageRecord.failed}>
                                <img src="https://i.ibb.co/B3Kmk8M/prob.png" height="150px" alt="" border="0">
                                <div class={textClass}>{stageRecord.Name}</div>
                            </template>
                        </div>
                    </template>
                </template>
            </div>
        </div>
        <template if:false={stages}>
            No stages found.
        </template>
    </div>
</template>