.suivi_main{
    display: flex;
}
.suivi{
    width: 50%;
    height: 150px;
}
.suivi_t{
    width: 50%;
    height: 150px;
}
.s_left{
    display: flex;
    padding-left: 20px;
}
.s_right{
    /* background-color: burlywood; */
    font-size: 14px;
    /* display: flex; */
}
.info_suivi{
    display: block;
    padding-top: 30px;
    padding-left: 15px;
}
.calls_total{
    background-color: #09A7F7;
    color: white;
    border-radius: 10px;
    width:47px;
    height: 29px;
    padding-left: 14px;
    padding-top: 4px;
    margin-left: 10px;
}
.histo_rdv{
    height: 150px;
    width: 100%;
    overflow-x: auto;
    /* background-color: #09A7F7; */
    margin-right: 240px;
    padding-top : 50px;
    padding-bottom : 40px;
}


.text {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    padding: 5px;
    border: 1px solid #ccc;
}

.text.show {
    display: block;
}