<!-- <template>
    <lightning-card title="Custom Object Fields">
        <lightning-datatable
            key-field="id"
            data={fields}
            columns={columns}
            onrowselection={handleRowSelection}>
        </lightning-datatable>
    </lightning-card>
</template> -->

<template>
    <lightning-card title="MetadataGrid Salesforce" icon-name="action:preview">
        <div class="slds-m-around_medium">
            <lightning-combobox
            label="User Story Name"
            value={UserStoryName}
            options={UserStory}
            class="slds-m-bottom_small"
            ></lightning-combobox>
        </div>


        <div class="slds-m-around_medium">
            <lightning-combobox
            label="Operation Type"
            value={OperationName}
            options={operationTypeOptions}
            onchange={handleOperationTypeChange}
            class="slds-m-bottom_small"
            ></lightning-combobox>
        </div>

        <div class="slds-m-around_medium">
            <lightning-combobox
            label="Metadata Type"
            options={metadataTypeOptions}
            onchange={handleMetadataTypeChange}
            class="slds-m-bottom_small"
            ></lightning-combobox>
        </div>


        <template if:true={showSO}>
        <div class="slds-m-around_medium">
            <lightning-combobox
            label="Object Type"
            value={selectedObjectType}
            options={objectTypeOptions}
            onchange={handleObjectTypeChange}
            class="slds-m-bottom_small"
            ></lightning-combobox>

            <lightning-combobox
            label="Object Name"
            value={selectedObject}
            options={filteredObjectOptions}
            onchange={handleObjectChange}
            class="slds-m-bottom_small"
            variant="label-hidden"
            placeholder="Search objects..."
            dropdown-alignment="auto"
            ></lightning-combobox>
            <div class="slds-p-vertical_medium flex-container">
                 <lightning-button variant="brand" label="Show Fields" onclick={handleShowFields}></lightning-button>
                 <lightning-button class="slds-p-left_small" variant="brand" label="Commit" onclick={commitSOToUs}></lightning-button>
            </div>
        </div>


        <template if:false={listField.length}>
            <div style="height: 200px; position:relative" class="spinner-container-outer slds-is-relative">
                <lightning-spinner variant="brand" size="large"> </lightning-spinner>
            </div>
        </template>
        <template if:true={listField.length}>
            <lightning-datatable
                key-field="fieldAPIName"
                data={selectedObjectFields}
                columns={columnsSO}
                onrowselection={handleRowSelection}>
            </lightning-datatable>
        </template>
        </template>


        <template if:true={showAC}>
            <div class="slds-m-around_medium">
                <div class="slds-p-vertical_medium flex-container">
                     <lightning-button class="slds-p-left_small" variant="brand" label="Commit" onclick={commitACToUs}></lightning-button>
                </div>
            </div>
    
    
            <template if:false={apexClasses.length}>
                <div style="height: 200px; position:relative" class="spinner-container-outer slds-is-relative">
                    <lightning-spinner variant="brand" size="large"> </lightning-spinner>
                </div>
            </template>
            <template if:true={apexClasses.length}>
                <lightning-datatable
                    key-field="ClassName"
                    data={apexClasses}
                    columns={columnsAP}
                    onrowselection={handleRowSelection2}>
                </lightning-datatable>
            </template>
        </template>



    </lightning-card>
</template>