<template>
    <lightning-modal-header>Create DestinationOrg Record</lightning-modal-header>
    <lightning-modal-body> 
        <!-- Lightning Combobox for Destination -->
        <lightning-combobox label="Destination" value={selectedDestination} options={destinationOptions} onchange={handleDestinationChange}></lightning-combobox>
        <!-- Lightning Combobox for Source -->
        <lightning-combobox label="Source" value={selectedSource} options={sourceOptions} onchange={handleSourceChange}></lightning-combobox>
    </lightning-modal-body>
    <lightning-modal-footer>
        <lightning-button label="Cancel" onclick={closeModal} class="slds-var-p-right_x-small"></lightning-button>
        <lightning-button label="Save" variant="brand" onclick={save}></lightning-button>
    </lightning-modal-footer>
</template>